<section>
    <div class="container">
        <div class="row ">

            <div class="wrapper d-flex ">

                <div class="col-lg-6 col-12 d-flex justify-content-center login-logo">
                 <img   src="/images/icons/—Pngtree—log in login interface computer_3945571.png" alt="">
                </div>

                <div class="col-lg-6 col-12  justify-content-center">
                <div class="text-center mt-4 name"> Login  </div>
                
                    <form class="p-3 mt-3 text-center" action="/admin/login" method="post">

                        <div class="form-field d-flex mt-3 align-items-center">
                            <input type="email" name="email" id="userName" value="baby@gmail.com" placeholder="E-mail id" required>
                        </div>
                        <div class="form-field d-flex mt-5  align-items-center">
                            <input type="password" name="password" id="pwd" value="123" placeholder="Password" required>
                        </div>
                        <button type="submit" class="btn mt-5">Login</button>

                    </form>
                    <div class="text-center fs-6"> <a href="#">Forget password?</a> or <a href="/admin/signUp">Are You a New Here ?</a> </div>
                </div>
            </div>
        </div>
    </div>
</section>