<section>
    <div class="container">
        <div class="row ">
            <div class="wrapper d-flex ">
                <div class="col-lg-6 col-12  justify-content-center">
                    <div class="text-center mt-4 name"> Sign Up Here </div>

                    <form class="p-3  text-center" action="/admin/signUp" method="post">
                        <div class="form-field d-flex   align-items-center">
                            <input type="text" name="name" placeholder="First Name" required>
                        </div>
                        {{!-- <div class="form-field d-flex  align-items-center">
                            <input type="text" name="lastName" id="userName" placeholder="Last Name">
                        </div> --}}
                        <div class="form-field d-flex  align-items-center">
                            <input type="text" name="phone" id="userName" placeholder="Phone Number" required>
                        </div>

                        <div class="form-field d-flex   align-items-center">
                            <p class="text-danger " id="mail-reject" style="font-size: 12px; margin-left: 11.5rem; margin-top: -1rem;  position: fixed;"></p>
                            <input type="email" name="email" id="email" placeholder="E-mail id"  onchange="getMail(event)" required>
                        </div>

                        <div class="form-field d-flex   align-items-center">
                            <input type="password" name="password" placeholder="Password" required>
                        </div>
                        <button type="submit" id="btn" class="btn">Sign Up</button>

                    </form>
                    <div class="text-center fs-6"> <a href="/admin/login">Already have An account ?</a> </div>
                </div>
                <div class="col-lg-6 col-12 d-flex justify-content-center login-logo">
                    <img src="/images/icons/—Pngtree—log in login interface computer_3945571.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function getMail(event) {
        let email = document.getElementById('email').value
        $.ajax({
            url: '/admin/varify-mail',
            data: {
                mail: email
            },
            type: 'post',
            success: (response) => {
                if (response.status) {
                    document.getElementById("btn").disabled = false;
                    document.getElementById("mail-reject").innerHTML =''
                } else {
                   document.getElementById("btn").disabled = true;
                   document.getElementById("mail-reject").innerHTML ='The mail is already exist'
                }
            }
        })
    }
</script>