<footer>
    <div class="container ">
        <hr>
        <div class="row d-flex justify-content-center ">
            
            <div class="col-lg-6 text-center ">
                <p>terms conditions & policy</p>
            </div>
        </div>
    </div>
</footer>