<section>
    <div class="container mt-3" style="min-height: 75vh;">
        <div class="row ">
            <div class="col-lg-8 shadow">
                <div class="card m-4" style="background: transparent;">
                    <div class="row d-flex">
                        <div class="col-lg-4 p-3">
                            <img width="50px" height="auto" src="/images/products/61ee2bf4bdfd0405b2a6f9ac.jpg" alt="">
                        </div>
                        <div class="col-lg-4 text-center ">
                            <button class="btn btn-primary mx-3 px-4">-</button><span>1</span><button
                                class="btn btn-primary mx-3 px-4">+</button>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>
                <div class="card m-4" style="background: transparent;">
                    <div class="row d-flex">
                        <div class="col-lg-4 p-3">
                            <img width="50px" height="auto" src="/images/products/61ee2bf4bdfd0405b2a6f9ac.jpg" alt="">
                        </div>
                        <div class="col-lg-4 text-center">
                            <button class="btn btn-primary mx-3 px-4">-</button><span>1</span><button
                                class="btn btn-primary mx-3 px-4">+</button>
                        </div>
                        <div class="col-lg-4">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 shadow" style="height: 70vh;">
                <div class="card">

                </div>
            </div>
        </div>
    </div>
</section>