<div class="container-fluid mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body cart">
                    <div class="col-sm-12  text-center"> <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" width="230" height="auto" class="img-fluid mb-4 mr-3">
                        <h3><strong>Your Cart is Empty! &#128577 </strong></h3>
                        <h4>No Items to Display..</h4> <a href="/" class="btn btn-success cart-btn-transform m-3" data-abc="true">continue shopping</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>